
MI-HOPAC/.vs/MI-HOPAC/v16/Server/sqlite3/db.lock

MI-HOPAC/.vs/

MI-HOPAC/MI-HOPAC/obj/

MI-HOPAC/MI-HOPAC/Connected Services/MiHomeacupService/

MI-HOPAC/MI-HOPAC/MI-HOPAC_itokchpv_wpftmp.csproj

MI-HOPAC/MI-HOPAC/MI-HOPAC.csproj
